h1{
    font-size: 1em;
    text-align: center;

}
.carousel-item{
    
    padding: 1em;
    width: 100%;
    height: 200%;

}
.carousel-inner{
    
    padding: 1em;
    width: 100%;
    height: 200%;
}
